Repository urbit/urbit, pull requests merged in 2020-06, with the labels that each got.

#2962 eyre: respect "forwarded" header from localhost
  bin/solid.pill
  pkg/arvo/sys/vane/eyre.hoon
  pkg/arvo/sys/zuse.hoon
Labels: eyre

#2959 eyre: augmented cookie handling
  pkg/arvo/sys/vane/eyre.hoon
  pkg/arvo/tests/sys/vane/eyre.hoon
Labels: eyre

#3014 vere: increase LMDB mapsize to 1TB on macOS, linux
  pkg/urbit/vere/lmdb.c
Labels: vere

#3001 eyre: support scrying into userspace over http
  .travis.yml
  bin/brass.pill
  bin/ivory.pill
  bin/solid.pill
  nix/ops/test/builder.sh
  nix/pkgs/default.nix
  nix/pkgs/libaes_siv/builder.sh
  nix/pkgs/libaes_siv/cross.nix
  nix/pkgs/libaes_siv/default.nix
  nix/pkgs/libaes_siv/release.sh
  nix/pkgs/urbit/default.nix
  nix/pkgs/urbit/release.nix
  nix/pkgs/urbit/shell.nix
  nix/release.nix
  pkg/arvo/sys/vane/eyre.hoon
  pkg/arvo/sys/vane/gall.hoon
  pkg/arvo/sys/zuse.hoon
  pkg/libaes_siv/COPYING
  pkg/libaes_siv/Makefile
  pkg/libaes_siv/README.md
  pkg/libaes_siv/README.urbit.md
  pkg/libaes_siv/aes_siv.c
  pkg/libaes_siv/aes_siv.h
  pkg/libaes_siv/config.h
  pkg/libaes_siv/shell.nix
  pkg/urbit/configure
  pkg/urbit/include/jets/w.h
  pkg/urbit/include/noun/allocate.h
  pkg/urbit/include/noun/xtract.h
  pkg/urbit/jets/e/aes_ecb.c
  pkg/urbit/jets/e/aes_siv.c
  pkg/urbit/jets/e/ripe.c
  pkg/urbit/jets/e/rub.c
  pkg/urbit/jets/tree.c
  pkg/urbit/noun/allocate.c
  pkg/urbit/noun/manage.c
  pkg/urbit/noun/retrieve.c
  pkg/urbit/vere/cttp.c
  pkg/urbit/vere/daemon.c
  pkg/urbit/vere/dawn.c
  pkg/urbit/vere/lmdb.c
  pkg/urbit/vere/term.c
  pkg/urbit/worker/main.c
  sh/ci-tests
  sh/test
Labels: eyre

#2976 eyre: expire channels with their sessions
  .travis.yml
  bin/solid.pill
  nix/ops/test/builder.sh
  pkg/arvo/app/chat-hook.hoon
  pkg/arvo/app/dbug.hoon
  pkg/arvo/sys/arvo.hoon
  pkg/arvo/sys/hoon.hoon
  pkg/arvo/sys/vane/eyre.hoon
  pkg/arvo/sys/zuse.hoon
  pkg/arvo/tests/sys/zuse/crypto/aes.hoon
  pkg/interface/dbug/src/js/views/eyre.js
  sh/ci-tests
  sh/test
Labels: eyre

#3050 behn, vere: some improvements
  pkg/arvo/app/dbug.hoon
  pkg/arvo/gen/timers.hoon
  pkg/arvo/sys/arvo.hoon
  pkg/arvo/sys/vane/behn.hoon
  pkg/urbit/vere/io/behn.c
Labels: behn, vere
