Repository urbit/urbit, pull requests merged in 2020-07, with the labels that each got.

#3112 eyre: remove channel.js
  pkg/arvo/sys/vane/eyre.hoon
Labels: eyre

#3063 zuse: make +drop-pole produce a unit
  pkg/arvo/sys/zuse.hoon
Labels: zuse

#3115 tab completion in chat-cli completes without prefix char
  pkg/arvo/app/chat-cli.hoon
Labels: bug

#3142 zuse: parse rfc2396 unreserved chars correctly
  pkg/arvo/sys/zuse.hoon
Labels: zuse
