Repository urbit/urbit, pull requests merged in 2020-10, with the labels that each got.

#3575 King Haskell terminal fixes
  pkg/hs/urbit-king/lib/Urbit/King/API.hs
  pkg/hs/urbit-king/lib/Urbit/King/Main.hs
  pkg/hs/urbit-king/lib/Urbit/Vere/Pier.hs
  pkg/hs/urbit-king/lib/Urbit/Vere/Term.hs
  pkg/hs/urbit-king/lib/Urbit/Vere/Term/API.hs
  pkg/hs/urbit-king/lib/Urbit/Vere/Term/Demux.hs
  pkg/hs/urbit-king/lib/Urbit/Vere/Term/Logic.hs
  pkg/hs/urbit-noun/lib/Urbit/Noun/Tank.hs
  pkg/hs/urbit-termsize/lib/Urbit/TermSize.hs
Labels: king-haskell

#3628 eyre: add authentication checker scry endpoint
  pkg/arvo/sys/vane/eyre.hoon
Labels: eyre

#3524 term: don't print styles in non-interactive mode
  pkg/urbit/vere/io/term.c
Labels: term, vere

#3549 Fix a bunch of strictness issues in King Haskell
  pkg/hs/urbit-eventlog-lmdb/lib/Urbit/EventLog/LMDB.hs
  pkg/hs/urbit-king/lib/Urbit/Arvo/Common.hs
  pkg/hs/urbit-king/lib/Urbit/Arvo/Effect.hs
  pkg/hs/urbit-king/lib/Urbit/Arvo/Event.hs
  pkg/hs/urbit-king/lib/Urbit/Vere/Ames.hs
  pkg/hs/urbit-king/lib/Urbit/Vere/Ames/DNS.hs
  pkg/hs/urbit-king/lib/Urbit/Vere/Clay.hs
  pkg/hs/urbit-king/lib/Urbit/Vere/Http/Client.hs
  pkg/hs/urbit-king/lib/Urbit/Vere/Pier/Types.hs
  pkg/hs/urbit-king/lib/Urbit/Vere/Serf/IPC.hs
  pkg/hs/urbit-king/lib/Urbit/Vere/Serf/IPC/Types.hs
  pkg/hs/urbit-king/lib/Urbit/Vere/Serf/Types.hs
  pkg/hs/urbit-king/lib/Urbit/Vere/Term/API.hs
  pkg/hs/urbit-king/lib/Urbit/Vere/Term/Logic.hs
  pkg/hs/urbit-noun-core/lib/Urbit/Noun/Convert.hs
  pkg/hs/urbit-noun-core/lib/Urbit/Noun/Core.hs
  pkg/hs/urbit-noun/lib/Urbit/Noun/Tree.hs
Labels: king-haskell

#3647 eyre: prevent binding in reserved namespaces
  pkg/arvo/sys/vane/eyre.hoon
Labels: eyre

#3557 vere: webslogs
  pkg/urbit/include/c/motes.h
  pkg/urbit/include/vere/vere.h
  pkg/urbit/vere/io/http.c
  pkg/urbit/vere/pier.c
Labels: king, vere

#3442 hoon: avoid potential shadow in +late
  pkg/arvo/sys/hoon.hoon
Labels: hoon

#3690 eyre: explicitly permit proposed request in cors
  pkg/arvo/sys/vane/eyre.hoon
Labels: eyre

#3560 webdojo: slogs
  pkg/interface/src/views/apps/dojo/components/history.js
  pkg/interface/src/views/apps/dojo/subscription.js
Labels: landscape

#3726 Simplify +code and implement it in KH.
  pkg/arvo/sys/vane/jael.hoon
  pkg/hs/urbit-king/lib/Urbit/King/Main.hs
  pkg/hs/urbit-king/lib/Urbit/Vere/Dawn.hs
Labels: king-haskell

#3746 eyre: reduce memory usage of unacked channel events
  bin/solid.pill
  pkg/arvo/sys/vane/eyre.hoon
  pkg/arvo/sys/zuse.hoon
  pkg/arvo/tests/sys/vane/eyre.hoon
Labels: eyre

#3749 eyre: kick busy subscriptions if client not acking
  bin/solid.pill
  pkg/arvo/app/dbug.hoon
  pkg/arvo/sys/vane/eyre.hoon
  pkg/arvo/sys/zuse.hoon
  pkg/arvo/tests/sys/vane/eyre.hoon
  pkg/interface/dbug/src/js/views/eyre.js
Labels: eyre

#3780 vere: fix -j help text
  pkg/urbit/daemon/main.c
Labels: vere

#3798 eyre: produce moves in correct order
  pkg/arvo/sys/vane/eyre.hoon
  pkg/arvo/tests/sys/vane/eyre.hoon
Labels: eyre

#3799 eyre: ignore facts directly after clog
  pkg/arvo/sys/vane/eyre.hoon
  pkg/arvo/tests/sys/vane/eyre.hoon
Labels: eyre

#3835 eyre: ignore facts directly after clog
  pkg/arvo/sys/vane/eyre.hoon
  pkg/arvo/tests/sys/vane/eyre.hoon
Labels: eyre

#3595 Implement stateless forwarding in the king
  pkg/hs/urbit-king/lib/Urbit/King/App.hs
  pkg/hs/urbit-king/lib/Urbit/Vere/Ames.hs
  pkg/hs/urbit-king/lib/Urbit/Vere/Ames/LaneCache.hs
  pkg/hs/urbit-king/lib/Urbit/Vere/Ames/Packet.hs
  pkg/hs/urbit-king/lib/Urbit/Vere/Pier.hs
  pkg/hs/urbit-king/lib/Urbit/Vere/Serf/IPC.hs
  pkg/hs/urbit-king/package.yaml
  pkg/hs/urbit-king/test/AmesTests.hs
  pkg/hs/urbit-noun/lib/Urbit/Noun/Conversions.hs
  pkg/hs/urbit-noun/package.yaml
Labels: king-haskell

#3830 eyre: respect protocol from Forwarded header
  pkg/arvo/sys/vane/eyre.hoon
  pkg/arvo/sys/zuse.hoon
Labels: eyre
