Repository urbit/urbit, pull requests merged in 2020-08, with the labels that each got.

#3174 ames.c: stateless forwarding
  pkg/urbit/include/c/motes.h
  pkg/urbit/include/vere/vere.h
  pkg/urbit/vere/io/ames.c
  pkg/urbit/vere/lord.c
  pkg/urbit/vere/pier.c
  pkg/urbit/vere/ward.c
Labels: performance, vere

#3266 hoon: add +lead and +late
  pkg/arvo/sys/hoon.hoon
Labels: hoon

#3339 urbit-king: update urbit-hob to v0.3.3
  pkg/hs/stack.yaml
Labels: king-haskell

#3389 lib: take json as argument to /lib/server's +json-response
  pkg/arvo/app/chat-view.hoon
  pkg/arvo/app/dbug.hoon
  pkg/arvo/app/language-server.hoon
  pkg/arvo/app/lens.hoon
  pkg/arvo/app/publish.hoon
  pkg/arvo/lib/server.hoon
Labels: userspace

#3387 eyre: prevent %eyre-no-channel errors
  pkg/arvo/sys/vane/eyre.hoon
  pkg/arvo/sys/vane/gall.hoon
  pkg/arvo/tests/sys/vane/eyre.hoon
Labels: eyre, gall

#3405 ames.c: better stateless forwarding
  pkg/urbit/vere/io/ames.c
Labels: performance, vere
