Repository urbit/urbit, pull requests merged in 2020-11, with the labels that each got.

#3864 clay: replace ream with nouns and !, zapcom
  pkg/arvo/sys/vane/clay.hoon
Labels: clay

#3883 eyre: forego <atom> in favor of (scow %aura atom)
  pkg/arvo/sys/vane/eyre.hoon
Labels: eyre, performance

#3882 ren: remove the last renderer files from /ren
  pkg/arvo/ren/publish/comments.hoon
  pkg/arvo/ren/publish/post.hoon
  pkg/arvo/ren/run.hoon
  pkg/arvo/ren/test-gen.hoon
Labels: userspace

#3885 dill: if styled prompt has no style, emit as plain
  pkg/arvo/sys/vane/dill.hoon
Labels: dill

#3873 verb: render printouts lazily
  pkg/arvo/lib/verb.hoon
Labels: userspace

#3911 eyre: clog exclusively for %facts
  pkg/arvo/sys/vane/eyre.hoon
  pkg/arvo/tests/sys/vane/eyre.hoon
Labels: eyre

#3904 Webterm
  bin/solid.pill
  pkg/arvo/app/herm.hoon
  pkg/arvo/app/launch.hoon
  pkg/arvo/app/soto.hoon
  pkg/arvo/lib/hood/drum.hoon
  pkg/arvo/mar/belt.hoon
  pkg/arvo/mar/blit.hoon
  pkg/arvo/sys/vane/dill.hoon
  pkg/arvo/sys/zuse.hoon
  pkg/interface/package-lock.json
  pkg/interface/package.json
  pkg/interface/src/logic/lib/bel.js
  pkg/interface/src/logic/lib/default-apps.js
  pkg/interface/src/views/apps/dojo/components/input.js
  pkg/interface/src/views/apps/dojo/components/lib/sole.js
  pkg/interface/src/views/apps/dojo/css/custom.css
  pkg/interface/src/views/apps/dojo/store.js
  pkg/interface/src/views/apps/launch/components/tiles/basic.js
  pkg/interface/src/views/apps/profile/components/lib/DragTile.tsx
  pkg/interface/src/views/apps/term/api.js
  pkg/interface/src/views/apps/term/app.js
  pkg/interface/src/views/apps/term/components/history.js
  pkg/interface/src/views/apps/term/components/input.js
  pkg/interface/src/views/apps/term/components/line.js
  pkg/interface/src/views/apps/term/css/custom.css
  pkg/interface/src/views/apps/term/store.js
  pkg/interface/src/views/apps/term/subscription.js
  pkg/interface/src/views/components/leap/Omnibox.js
  pkg/interface/src/views/components/leap/OmniboxResult.js
  pkg/interface/src/views/landscape/components/Content.js
Labels: dill, landscape

#3994 arvo: unflop the spur in scry
  bin/solid.pill
  pkg/arvo/app/dojo.hoon
  pkg/arvo/app/test.hoon
  pkg/arvo/gen/glass.hoon
  pkg/arvo/gen/hood/mount.hoon
  pkg/arvo/gen/metal.hoon
  pkg/arvo/gen/timers.hoon
  pkg/arvo/lib/strandio.hoon
  pkg/arvo/sys/arvo.hoon
  pkg/arvo/sys/hoon.hoon
  pkg/arvo/sys/vane/clay.hoon
  pkg/arvo/sys/vane/eyre.hoon
  pkg/arvo/sys/vane/gall.hoon
  pkg/arvo/sys/zuse.hoon
  pkg/arvo/ted/build-cast.hoon
  pkg/arvo/ted/build-mark.hoon
  pkg/arvo/ted/diff.hoon
  pkg/arvo/ted/test.hoon
  pkg/arvo/tests/sys/vane/eyre.hoon
  pkg/arvo/tests/sys/zuse/format.hoon
Labels: arvo

#2990 bip32: bitcoin address derivation from extended keys
  pkg/arvo/lib/bip32.hoon
  pkg/arvo/tests/lib/bip32.hoon
Labels: zuse
