Repository urbit/urbit, pull requests merged in 2023-01, with the labels that each got.

#6191 ci: remove frontend-tests flow
  .github/workflows/frontend-test.yml
Labels: ci

#6190 ci: remove the mingw build flow
  .github/workflows/vere.yml
Labels: ci

#6156 jael: also send %ruin breaches to catch-all subs
  pkg/arvo/sys/vane/jael.hoon
Labels: jael

#6169 hoon: swap =+ foo |@ ++ $ bar -- for |* foo bar
  pkg/arvo/sys/hoon.hoon
Labels: hoon

#6160 hoon: remove $plat
  pkg/arvo/sys/hoon.hoon
Labels: hoon

#6117 hoon: add +lure, for turning a singleton into a list
  pkg/arvo/sys/hoon.hoon
Labels: hoon

#6207 tests: move to root, out of pkg/arvo
  .github/workflows/build.yml
  .github/workflows/vere.yml
  tests/bug/gh-703.hoon
  tests/lib/der.hoon
  tests/lib/dprint.hoon
  tests/lib/ethereum/encoding.hoon
  tests/lib/ethereum/rlp.hoon
  tests/lib/ethereum/signing.hoon
  tests/lib/jose.hoon
  tests/lib/keygen.hoon
  tests/lib/language-server.hoon
  tests/lib/naive.hoon
  tests/lib/number-to-words.hoon
  tests/lib/pkcs.hoon
  tests/lib/primitive-rsa.hoon
  tests/lib/ring.hoon
  tests/lib/vere/dawn.hoon
  tests/run/hints.hoon
  tests/sys/arvo/wa.hoon
  tests/sys/grq.hoon
  tests/sys/hoon/auras.hoon
  tests/sys/hoon/bits.hoon
  tests/sys/hoon/differ.hoon
  tests/sys/hoon/hashes.hoon
  tests/sys/hoon/list.hoon
  tests/sys/hoon/map.hoon
  tests/sys/hoon/molds.hoon
  tests/sys/hoon/ob.hoon
  tests/sys/hoon/qeu.hoon
  tests/sys/hoon/set.hoon
  tests/sys/nock.hoon
  tests/sys/vane/ames.hoon
  tests/sys/vane/behn.hoon
  tests/sys/vane/clay.hoon
  tests/sys/vane/eyre.hoon
  tests/sys/vane/gall.hoon
  tests/sys/vane/iris.hoon
  tests/sys/vane/khan.hoon
  tests/sys/zuse/contain/capped-queue.hoon
  tests/sys/zuse/contain/clock.hoon
  tests/sys/zuse/crypto/aes.hoon
  tests/sys/zuse/crypto/argon.hoon
  tests/sys/zuse/crypto/blake.hoon
  tests/sys/zuse/crypto/ed25519.hoon
  tests/sys/zuse/crypto/hmac.hoon
  tests/sys/zuse/crypto/keccak.hoon
  tests/sys/zuse/crypto/pbkdf.hoon
  tests/sys/zuse/crypto/ripemd.hoon
  tests/sys/zuse/crypto/scrypt.hoon
  tests/sys/zuse/crypto/secp256k1.hoon
  tests/sys/zuse/format.hoon
  tests/sys/zuse/html.hoon
  tests/sys/zuse/mimes.hoon
  tests/sys/zuse/ordered-map.hoon
  tests/sys/zuse/title.hoon
Labels: ci, tests

#6230 chat-cli: put it to rest
  pkg/landscape/app/chat-hook.hoon
  pkg/landscape/desk.bill
Labels: landscape, apps

#6238 acme: handle https redirect in self-check
  pkg/arvo/app/acme.hoon
  pkg/arvo/lib/dns.hoon
Labels: acme, dns
