Repository urbit/urbit, pull requests merged in 2023-07, with the labels that each got.

#6716 lull, gall, hoon: drop pokes for non-running agents
  pkg/arvo/sys/lull.hoon
  pkg/arvo/sys/vane/ames.hoon
  pkg/arvo/sys/vane/gall.hoon
Labels: hoon, ames, gall

#6729 Add paces to `-runtime-version`
  pkg/arvo/ted/runtime-version.hoon
Labels: utilities

#6737 eyre: cosmetic updates to login form
  pkg/arvo/sys/vane/eyre.hoon
Labels: eyre, landscape
