Repository urbit/urbit, pull requests merged in 2023-05, with the labels that each got.

#6553 eyre: when a %request causes a crud, serve 500
  pkg/arvo/sys/vane/eyre.hoon
Labels: eyre

#5983 hoon: further explore ?#, fix bugs
  pkg/arvo/sys/hoon.hoon
Labels: hoon

#6612 ames: correctly %lose a %boon we crashed on
  pkg/arvo/sys/vane/ames.hoon
  tests/sys/vane/ames.hoon
Labels: ames
