Repository urbit/urbit, pull requests merged in 2024-07, with the labels that each got.

#7027 eyre: tweak time-related eauth numbers
  pkg/arvo/sys/vane/eyre.hoon
  tests/sys/vane/eyre.hoon
Labels: eyre

#7026 Add -new-app thread to build from repo /desk
  pkg/arvo/ted/new-app.hoon
  pkg/arvo/ted/retrieve-gh.hoon
  pkg/arvo/ted/retrieve-latest-commit.hoon
Labels: dojo

#6887 hoon: generalize +trim
  pkg/arvo/sys/hoon.hoon
Labels: hoon
